*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(140,34,120 );
}
header{
    height: 10vh;
    background-color: #1448a1;
}
#section {
    display: flex;
    width: 900px;
    height: 550px;
    justify-content: center;
    margin-top: 3%;
    margin-left: 17%;
    
}
#section img{
    width: 0px;
    flex-grow: 1;/* para que se agrende al contenedor */
    object-fit: cover; /* para que ocupe todo el contenedor*/
    transition: .5s ease;
}
#section img:hover{
    cursor:grab;
    width: 300px;
}
p{
    font-family: 'Kaushan Script', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rokkitt', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Rubik Wet Paint', cursive;
    color: #440d5e;
}
main{
    height: 75vh;
    background: rgb(140,34,120);
    background: linear-gradient(0deg, rgba(140,34,120,1) 35%, rgba(20,72,161,1) 76%);
}
audio{
    margin: 4%;
    margin-left: 30%;
    
}
#ser{
    margin: 15%;
}
.radio{
    margin: 2%;

}
#chackbox{
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.664);
}
textarea{
    border: 2px solid rgb(140,34,120)blue;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}
#colores{
    margin-left: 35%;
}
button{
    margin-left: 45%;
}
footer{
    height: 5vh;
    

}
